body {
    width: 100%;
    margin: 60px 0 0 0;
    padding: 0;
    background-color: #adadad;
    color: #203375;
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

#navBar {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#navLeft {
    display: inline-block;
    width: 35%;
    vertical-align: middle;
}

#navLogo{
    height: 56px;
}

#txLg {
    font-size: 40px;
    color: #203375;
    display: inline-block;
   vertical-align: text-bottom;
    margin: 0 auto 7px auto;
}

#txSm {
    display: none;
    vertical-align: text-bottom;
    font-size: 23px;
}

#hamburgerContainer {
    display: none;
   margin: 9px 20px;
}

.hamburgerMenu {
    width: 35px;
    height: 5px;
    background-color: #203375;
    margin: 6px 0;
    border-radius: 35%;
}

#navList {
    width: 36%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}   

.navBtn {
    display: inline-block;
    background-color: #203375;
    padding: 10px;
    margin: 10px 5px;
    width: 70px;
    color: #fff;
    border-radius: 10px;
}

#mobileNav {
    background-color: rgba(255, 255, 255, 0.51);
    width: 100%;
    display: none;
}

#mobileNavList {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.mobileNavBtn {
    display: inline-block;
    background-color: #203375;
    font-size: .8em;
    padding: 10px;
    margin: 10px 2%;
    width: 50px;
    color: #fff;
    border-radius: 10px;
}

#navRight {
    width: 28%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

#navRight > h1{
    font-size: 40px;
    color: #CD0000;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 10px 7px auto;
}

header {
    width: 100%;
    text-align: center;
    margin: 0 auto 50px auto;
    padding-bottom: 80px;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.7)
            ),
            url("../img/washingMach.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#headLeft, #headRight {
    margin: 50px auto 0 auto;
}

#headLeft {
    width: 55%;
    margin-left: 5%;
}

#headRight {
    width: 40%;
}

#heroLogo {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#mobileHeroLogo {
    width: 100%;
    margin: 0 auto;
    display: none;
}

header h1 {
    margin: 0 auto;
    font-size: 3em;
    color: #fff;
}

header form {
    width: 90%;
    margin-right: 10%;
}

header .form-group {
    margin: 35px auto;
}

header label {
    color: #fff;
}

.red {
    color: #CD0000;
}

.whiteBlock {
    width: 100%;
    background-color: #fff;
    padding: 80px 0;
    margin: 50px auto;
}

.innerContainer {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

#services {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#brandImg {
    width: 90%;
    margin: 0 auto;
}

.column {
    display: inline-block;
    width: 45%;
    margin: 0 2% 80px 2%;
    color: #203375;
    font-size: 1.4em;
    vertical-align: top;
}

.column ul {
    list-style: none;
    text-align: left;

}

.column  ul li:before {
    content: "\2605";
}

.column h1, .column h2, .column h3 {
    margin: 10px auto;
    text-align: center;
}

#map {

    height: 400px;
}

.section {
    width: 80%;
    margin: 80px auto 140px auto;
    font-size: 1.4em;
}

span {
    color: #CD0000;
}

#callToday {
    color: #CD0000;
    font-size: 2.5em;
}

#callToday a {
    color: #203375;
}

form {
    width: 65%;
    margin: 0 auto;
}

footer {
    width: 100%;
    text-align: center;
    margin: 50px auto 15px auto;
    position: relative;
}

.footerList {
    margin: 0 3%;
    list-style: none;
    display: inline-block;
}

footer ul {
    padding: 0;
    margin: 0;
}

#footLeft {
   display: inline-block;
}

#footRight {
    display: inline-block;
    position: absolute;
    left: 20px;
}

#pageTitle {
    font-size: 5em;
    color: #203375;
    margin: 70px auto 40px auto;
}

form {
    width: 70%;
    margin-right: 20%;
}

.form-group {
    width: 100%;
    text-align: right;
    margin: 20px 100px 20px auto;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    font-size: 18px;
}

textarea {
    box-sizing: border-box;
     padding: 10px;
    width: 73%;
    border-radius: 10px;
    font-size: 18px;
}

label {
    font-size: 20px;
}

#textArea label {
    vertical-align: top;

}

button {
    padding: 10px;
    color: #fff;
    background-color: #CD0000;
    border-radius: 10px;
    border: 1px solid #fff;
    width: 130px;
    font-size: 15px;
    margin-left: 180px;
}

@media screen and (max-width: 1165px) {

    #navList {
        display: none;
    }

    #navLeft {
        width: 50%;
    }

    #navRight {
        width: 49%;
    }

    #hamburgerContainer {
        display: inline-block;
    }

}

@media screen and (max-width: 830px) {

    #navLeft {
        width: 30%;
    }

    #txLg {
        display: none;
    }

    #txSm {
        display: inline-block;
    }

    #navRight {
        width: 69%;
    }

    .column {
        font-size: 1em;
    }

    header h1 {
        margin: -20px auto;
        font-size: 2em;
    }

    h1 {
        font-size: 1.7em;
    }

    #footRight {
        display: block;
        position: relative;
        margin: 16px auto 0 auto;
    }

}

@media screen and (max-width: 615px) {

    #navRight h1 {
        font-size: 25px;
        margin: 15px auto;
    }

    #txSm {
        margin: 7px auto;
        font-size: 18px;
    }

    #navLeft {
        width: 35%;
    }

    #navRight {
        width: 64%;
    }

    .column {
        width: 90%;
    }

    #brandImg {
        width: 100%
    }

    .section {
        width: 100%
    }

    #pageTitle {
        font-size: 3.5em;
    }
    
    form {
    width: 90%;
        margin: 0 auto;
    }
    
    input {
        width: 95%;
    }
    
    textArea {
        width: 97%;
    }
    
    .form-group {
        text-align: left;
    }
}

@media screen and (max-width: 480px) {

    #txSm {
        display: none;
    }

    #navLeft {
        width: 20%;
    }

    #navRight {
        width: 77%;
    }

    header h1 {
        margin: 0 auto;
        font-size: 1.4em;
    }

    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1.1em;
    }

    main {
        width: 95%
    }

    #heroLogo {
        display: none;
    }

    #mobileHeroLogo {
        display: block;
    }

    #mobileOnly {
        display: block;
    }

}

@media screen and (max-width: 362px) {

    .mobileNavBtn {
        display: inline-block;
        background-color: #203375;
        font-size: .7em;
        padding: 8px;
        margin: 10px 2%;

    }

    #callToday{
        font-size: 1.5em;
    }

    #navRight h1 {
        font-size: 18px;
        margin: 20px auto;
    }

    main {
        width: 100%;
    }

}