body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #adadad;
}

#navBar {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
}

#navLeft {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

#navLogo{
    height: 56px;
}

h1{
    font-size: 40px;
    color: #203375;
    display: inline-block;
   vertical-align: text-bottom;
    margin: 0 10px 7px auto;
}

#navList {
    width: 46%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.navBtn {
    display: inline-block;
    background-color: #203375;
    padding: 10px;
    margin: 10px 20px;
    width: 70px;
    color: #fff;
    border-radius: 10px;
}

#navRight {
    width: 23%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}