body {
    width: 100%;
    margin: 58px 0 0 0;
    padding: 0;
    background-color: #adadad;
    color: #203375;
}

#navBar {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 2;
}

#navLeft {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

#navLogo{
    height: 56px;
}

#navLeft > h1{
    font-size: 40px;
    color: #203375;
    display: inline-block;
   vertical-align: text-bottom;
    margin: 0 auto 7px auto;
}

#navList {
    width: 46%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.navBtn {
    display: inline-block;
    background-color: #203375;
    padding: 10px;
    margin: 10px 20px;
    width: 70px;
    color: #fff;
    border-radius: 10px;
}

#navRight {
    width: 23%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

#navRight > h1{
    font-size: 40px;
    color: #CD0000;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 10px 7px auto;
}

header {
    width: 100%;
    text-align: center;
}

#heroLogo {
    width: 100%;
    margin: 0 auto;
}

header h1 {
    margin: -35px auto;
    font-size: 3em;
    color: #203375;
}

main {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#services {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

#brandImg {
    width: 90%;
    margin: 0 auto;
}

.column {
    display: inline-block;
    width: 45%;
    margin: 0 2% 80px 2%;
    color: #203375;
    font-size: 1.4em;
    vertical-align: top;
}

.column ul {
    list-style: none;
    text-align: left;

}

.column  ul li:before {
    content: "\2605";
}

.column h1, .column h2, .column h3 {
    margin: 10px auto;
    text-align: center;
}

#map {

    height: 400px;
}

span {
    color: #CD0000;
}

footer {
    width: 100%;
    text-align: center;
    margin: 50px auto 15px auto;
    position: relative;
}

.footerList {
    margin: 0 3%;
    list-style: none;
    display: inline-block;
}

footer ul {
    padding: 0;
    margin: 0;
}

#footLeft {
   display: inline-block;
}

#footRight {
    display: inline-block;
    position: absolute;
    left: 20px;
}